.information-container {
    min-width: 440px;
    width: 40%;
    border: solid 1px #e7e7e7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}