.message {
    display: flex;
    align-items: flex-start;
    width: 695px;
    min-height: 50px;
    margin-top: 30px;
}

.message_in .message-text {
    margin-left: 14px;
}

.message_out {
    flex-direction: row-reverse;

}

.message_out .message-text {
    margin-right: 14px;
}

.photo {
    width: 41px;
    height: 41px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.message-text {
    display: block;
    padding: 14px 20px;
    border-radius: 5px;
    background-color: #ffffff;
    max-width: 537px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #878787;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
}

.message-author {
    color: #333333;
}

.operation-message {
    display: block;
    padding: 20px 18px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-right: 14px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
}

.message-title {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    color: #262626;
    display: block;
}
.operation-date {
    margin-top: 8px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: normal;
    color: #999999;
}
.operation-message-info {
    margin-top: 5px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
}