.chat-input {
    margin-top: 110px;
    margin-bottom: 20px;
}

.chat-input-title {
    position: absolute;
    margin-top: -43px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-align: left;
    vertical-align: text-bottom;
    color: #333333;
}
